@charset "utf-8";
/* CSS Document */
		body {
			background-color:#D2D3E2;
		}
		header {
			background-color: #0E62BF;
			padding: 30px;
			padding-top: 40px;
			display: block;
			margin-top: 0px;
			background-size: cover;
		}
		#main_title {
			font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"; 
			font-size: 90px;
			color: aliceblue;
		}
		#main_nav {
			color: aliceblue;
			background-color: #0E62BF;
			float: right;
			padding-top: 60px;
			font-size: 30px;
		}
		.active {
			padding-right: 40px;
			color: #C8E7FF;
			text-decoration: none;
			font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
		}
		footer {
			padding: 25px;
			text-align: center;
			font-family: 'Ubuntu', sans-serif;
			font-weight: bold;
			font-size: 22px;
		}
		#main-content {
			text-align: center;
			margin: 20px;
			font-family: 'Ubuntu', sans-serif;
			font-size: 25px;
		}
		#logo {
			max-height: 75px;
			width: auto
			
		}

@media screen and (max-width: 1050px){
		.active {
			padding:0px;
			font-size: 20px;
			
		}	
	}
@media screen and (max-width: 800px){
		.active {
			padding:10px;
			margin: 0px;
			font-size: 20px;
		}	
	#main_nav {
		padding: 0px;
		padding-top: 20px;
		margin: 0px;
	}
	
	#main_title {
		font-size: 50px;
	}
	#logo {
		height: 50px;
	}
	}
@media (max-width: 661px){
	.active {
			display:flex;
		}	
}

@media (max-width: 216px){
	#logo {
		display: none;
	}
}
